@media (max-width:1200px) {//в браузере ставить 993px и адаптировать здесь
    .container {
        max-width: 960px; //Промежуток между 992 и 1200 px
    }
}
@media (max-width:992px) {//в браузере ставить 769px и адаптировать здесь
    .container {
        max-width: 720px; //Промежуток между 768 и 992 px  
    }
}
@media (max-width:768px) { //в браузере ставить 577px и адаптировать здесь
    .container {
        max-width: 540px; //Промежуток между 576 и 768 px
    }
}
@media (max-width:576px) {//в браузере ставить 320px и адаптировать здесь
    .container {
        width: 960px; //Промежуток между 768 и 576 px
        padding: 0 10px;
    }
}